/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-enable */
html, header, main, footer, aside, 
ul, li, h4, p  
/* stylelint-disable */
span, applet, object, iframe, abbr, acronym, u, blockquote, pre,
address, big, cite, code, del, dfn, em, ins, kbd, h3, h5, h6, h1, h2,
q, s, samp, small, strike, strong, sub, sup, tt, var, figure, figcaption,
center, dl, dt, dd, ol, fieldset, form, label, legend,  a,
table, caption, tbody, tfoot, thead, tr, th, td, canvas, 
details, embed, hgroup, menu, output, ruby, section, img,
summary, time, mark, audio, video, div, body, b, i, nav, article


/* Site styles show as below */
/* Base Styles */
html {
    background: #ffffff;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
body {
    padding: 2rem;
    height: 100%;
    margin: 0;
}
header {
    padding: 1rem;
}
main {
    min-height: 100%;
    padding-bottom: -2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
}
footer {
    width: 100%;
    position: relative;
    margin-top: -2rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
    height: 2rem;
    clear: both;
    text-align: center;
}
h1 {
    font-size: 2.5rem;  
}
h3 {
    font-size: 1.75rem;
}
/* project index page */
#author {
    font-style: italic;
}
.nav li {
    list-style-type: none;
    padding-bottom: 2rem;
    text-align: center;
}
.resume a,
.amateur a,
.pets a {
    width: 33.33%;
    display: block;
    font-size: 1.25rem;
    text-decoration: none;
    padding: .75rem;
}
.resume a{
    background: #94b8b8;
}
.amateur a{
    background: #d8bfd8;
}
.pets a{
    background: #ffcc99;
}
.resume a:hover {
    background-color: #527a7a;
}
.amateur a:hover {
    background-color: #8e578e;
}
.pets a:hover {
    background-color: #b35900;
}
.resume a:hover,
.amateur a:hover,
.pets a:hover {
    color: white;
}
@media screen and (min-width: 21rem) {
    .nav::after {
        content: "";
        display: block;
        clear: both;
        float: none;
        width: 100%;
    }
    .nav li {
        float: left;
        width: 100%;
    }
}

/* resume page */
#name {
    margin-top: 0;
}
#job {
    font-weight: lighter;
    margin-top: 0;
}
.item {
    margin-right: 0;
    display: block; 
}
.content {
    display: block;
}
.skill,
.software,
.exam {
    list-style-type: none; 
    padding: 0;
}
.skill li,
.software li,
.exam li {
    display: inline-block;
    margin-top: 2%;
    margin-left: 0;
    font-size: 0.75rem;
    text-align: center;
    padding: 0.3rem;
    border: #737373;
    border-radius: 0.25rem;
    background-color: #737373;
    color: white
}
.skill li,
.software li,
.exam li {
    margin-right: 5%;
}

@media screen and (min-width: 48rem) {
    .item {
        margin-right: 1.75rem;
        display: inline-block; 
    }
    .content {
        display: flex;
        justify-content: space-between;
    } 
    .left {
        margin-right: 5rem;
    }
    .right {
        margin-left: 5rem;
    }
    .stamp {
        display: flex;
        justify-content: space-between;
    }










 


